<mat-card class="card">
    <mat-card-header class="card-header">
    <mat-card-title class="card-title">{{ post.title }}</mat-card-title>

    <div class="btn-block" [class.selected]="post === activePost">

        <button class="button" mat-icon-button>
            <mat-icon color="primary">edit</mat-icon>
        </button>

        <button class="button" mat-icon-button>
            <mat-icon color="accent">delete</mat-icon>
        </button>

    </div>

    </mat-card-header>
    
    <img class="card-img" mat-card-image [src]="post.img" alt="Photo">
</mat-card>