.card {
    max-width: 400px;
    width: 400px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    .card-title {
        margin-bottom: 8px;
    }

    .card-img {
        display: block;
        border-radius: 4px;
        margin-bottom: 0;
        position: relative;
        top: 5px;
    }

    .mat-card-header {
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
        position: absolute;
        width: 100%;
        z-index: 2;
        left: 0;
        background-color: #fff;
        padding: 10px 0;
        top: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    .btn-block {
        position: absolute;
        top: 7px;
        right: 0;

        .button {
            margin-right: 5px;
        }
    }

    .selected {
        visibility: inherit;
    }

    .img-block {
        position: relative;
        top: -4px;
        
        .img-btn-block {
            position: absolute;
            bottom: 10px;
            left: -5px;

            button {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .position-button {            
                mat-icon {
                    transform: rotate(90deg);
                }
            }
        }
        
    }
}

.reverse {
    flex-direction: column-reverse;

    .mat-card-header {
        top: 190px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .card-img {
        top: 26px;
    }

    .img-block {
        position: relative;
        top: -26px;

        .img-btn-block {
            position: absolute;
            bottom: 150px;
        }
    }
}

@media only screen and (max-width: 490px) {
    .card {
        width: 310px;

        .mat-card-header {
            .mat-card-title {
                font-size: 17px;
            }
        }

        .img-btn-block {
            .mat-fab {
                width: 45px;
                height: 45px;
            }
        }
    }
}